[package]
authors = ["Ben Ruijl <benruyl@gmail.com>"]
categories = ["science"]
description = "A blazing fast computer algebra system, with community extensions"
edition = "2021"
keywords = ["algebra", "symbolic", "manipulation", "mathematics", "physics"]
license = "MIT"
name = "symbolica_community"
readme = "Readme.md"
repository = "https://github.com/benruijl/symbolica-community"
rust-version = "1.73"
version = "0.18.0"


[[bin]]
name = "stub_gen"
required-features = ["python_stubgen"]

[lib]
name = "symbolica_community"
crate-type = ["rlib", "cdylib"]

[features]
python_stubgen = [
    "pyo3-stub-gen",
    "symbolica/python_stubgen",
    "spynso3/python_stubgen",
    "idenso/python_stubgen",
    "vakint/python_stubgen",
    "example_extension/python_stubgen"
]

[dependencies]
example_extension = { path = "example_extension" }
idenso = { version = "0.2.3", features = ["bincode", "python"] }
symbolica = { version = "0.19", features = ["python_export"] }
pyo3 = "0.27"
pyo3-stub-gen = { version = "0.16", optional = true, default-features = false }
spynso3 = { version = "0.1" }
vakint = { git = "https://github.com/alphal00p/vakint", rev = "2bf65b038a756fcc8dbb1c7f6708997cfc9cd6d6", features = [
    "symbolica_community_module",
] }

[patch.crates-io]
spynso3 = { git = "https://github.com/alphal00p/spenso", rev = "08c56e08ff3429bd56b6c51c4e1f8b479d7552d5" }
idenso= {git= "https://github.com/alphal00p/spenso", rev = "08c56e08ff3429bd56b6c51c4e1f8b479d7552d5" }
spenso= {git= "https://github.com/alphal00p/spenso", rev = "08c56e08ff3429bd56b6c51c4e1f8b479d7552d5" }
spenso-hep-lib = {git= "https://github.com/alphal00p/spenso", rev = "08c56e08ff3429bd56b6c51c4e1f8b479d7552d5" }
# vakint = {git }
# spynso3 = { path = "../spenso/spynso3" }
symbolica = { git = "https://github.com/benruijl/symbolica", branch = "modules" }
# pyo3-stub-gen = { git = "https://github.com/benruijl/pyo3-stub-gen", branch = "patched" }

[build-dependencies]
pyo3-build-config = "*"
