[package]
authors = ["Ben Ruijl <benruyl@gmail.com>"]
categories = ["science"]
description = "A blazing fast computer algebra system with community enhancements"
edition = "2021"
keywords = ["algebra", "symbolic", "manipulation", "mathematics", "physics"]
license = "MIT"
name = "symbolica"
readme = "Readme.md"
repository = "https://github.com/benruijl/symbolica-community"
rust-version = "1.73"
version = "0.2.0"

[features]
default = ["vakint", "spenso"]

vakint = ["dep:vakint"]
spenso = ["dep:spenso"]
[profile.release]
codegen-units = 1
lto = true

[profile.dev-optim]
inherits = "dev"
opt-level = 3

[[bin]]
name = "stub_gen"
doc = false

[lib]
name = "symbolica_community"
crate-type = ["lib", "cdylib"]

[dependencies]
symbolica = { version = "0.15.1", features = ["python_no_module"] }
pyo3 = { version = "0.23.0", features = ["abi3-py37", "anyhow", "num-complex"] }

anyhow = "*"
vakint = { git = "https://github.com/alphal00p/vakint", branch = "main", optional = true }
spenso = { git = "https://github.com/alphal00p/spenso", optional = true, branch = "master", features = ["shadowing"] }
itertools = "0.13.0"
delegate = "0.13.1"
auto_enums = "0.8.6"
thiserror = "1.0.65"
pyo3-stub-gen = "0.6.0"
env_logger = "0.11.5"
